<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            main: '#16174',
          }
        }
      }
    }
  </script>
</head>
<body>
    
    <div>
        <div class="flex">
            <div>
                <h3>The Cellar Restraurant</h3>
                <p>The cellar restaurant is bright, airy, and lively. Our goal is to produce meals that engage all of our senses, restoring, challenging, and enriching our customers’ lives.</p>

                <div>
                    <a href="" class="flex">
                        <img src="../icons/icons8-user-30.png" alt="" srcset="">
                        <span>Login</span>
                    </a>
                </div>

                <div>
                    <a href="" class="flex">
                        <img src="../icons/icons8-user-30.png" alt="" srcset="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>